[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BradleyTerry2"]
	path = BradleyTerry2
	url = https://github.com/hturner/bradleyterry2
[submodule "gnm"]
	path = gnm
	url = https://github.com/hturner/gnm
[submodule "PlackettLuce"]
	path = PlackettLuce
	url = https://github.com/hturner/plackettluce
